<!DOCTYPE html>
<html>
<head>
    <title>CSP検証ページ</title>
</head>
<body>
    <script nonce="<%= nonce %>">
        const script = document.createElement('script');
        script.src = "./csp-test.js"
        document.body.appendChild(script);
    </script>
</body>
</html>